@charset "utf-8";

/***********************************
		REFERENCES
font-sizes
6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem

font-families
Droid Serif, Droid Sans

colors
#000000
#222222
#333333
#D4D4D4
#CC3300
#BADA55
#FFFFFF
plus the shadow for the text


***********************************/

*{
	padding:0;
	margin:0;
}

/***********************************
		DEFAULTS
***********************************/
body{
	background-color: #222;
}
h1, h2, h3, h4{
	font-family:serif;  /* you need a font stack here */
}
h1{
	
}
h2{
	
}
h3{
	
}
h4{
	
}
p, li, a{
	font-family: sans-serif; /* you need a font stack here */
}
img{
	width:90%;
	max-width: 100%;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
a:link, a:visited{
	transition: all 0.8s linear;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}

/***********************************
		LAYOUT
***********************************/
.wrapper{
	width:90%;
	max-width: 1020px;
	min-width: 400px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
}
.header{
	background-color: #000;
    min-height: 400px;
}
.main{
	
}
.footer{
	
}

/***********************************
		LINKS 
-for any that are different than the default
***********************************/

.footer a:link,
.footer a:visited{
	display: block;
	
}
.footer a:hover,
.footer a:active,
.footer a:focus{
	
}


/***********************************
		CONTENT
***********************************/
.header h1{

}
.main h2{
	
}
.main h3{
	
}
.main p{
	
}
.main img{
	/* use border-radius to crop image */
	/* choose a width percentage for the image too */
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}
.footer p{
    
}
.footer li{
    /* make these 50% the width of the footer */
}
